body {
    font-size: 15px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
}

.sidebar > .menu {
    height: 100%;
    border-radius: 0;
}

.article {
    position: fixed;
    top: 0;
    left: 250px;
    right: 0;
    height: 100%;
    overflow-y: auto;
}

.main.container {
    margin-right: 387px !important;
}

.masthead > .container, .main.container, .fixed.menu > .container {
    margin-left: 3em !important;
    margin-right: 3em !important;
    width: auto !important;
    max-width: 960px !important;
}

.main.container {
    padding: 2em 0 7em;
    position: relative;
}

.masthead.segment {
    position: relative;
    z-index: 1;
    margin: 0;
    min-height: 185px;
    padding: 3em 0;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    box-shadow: none;
}

.masthead > .container {
    margin-right: 387px !important;
}

.masthead > .container, .main.container, .fixed.menu > .container {
    margin-left: 3em !important;
    margin-right: 3em !important;
    width: auto !important;
    max-width: 960px !important;
}

.logo {
    margin-left: 10px;
    font-size: 16px;
}

.github {
    float: right;
}

p code, .description code {
    padding: 2px 4px;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-size: 90%;
    color: #008C79;
    background-color: rgba(0,0,0,0.04);
    border-radius: 4px;
}

.main.container > h2 {
    position: relative;
    margin: 5rem 0rem 3rem;
}

.main.container > .rail + h2,
.main.container > h2:first-child {
    margin-top: 0;
}

.example {
    margin-bottom: 40px;
}

.example .info {
    position: relative;
}

.example i.code {
    cursor: pointer;
    position: absolute;

    top: 0;
    right: 0;
    margin: 0;
    opacity: 0.5;

    font-size: 20px;
    color: #000000;

    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

.example:hover i.code {
    opacity: 0.85;
}
.example:hover i.code:hover {
    opacity: 1;
}
.example .grid i.code {
    right: 25%;
}

/* Description */
.example > .info .header + p {
    margin-top: 0;
    padding-bottom: 1em;
}

.example > .info p {
    color: rgba(0, 0, 0, 0.8);
}

/* Header */
.example > .info h4:first-child {
    font-size: 18px;
    margin: 0em 0em 0em;
}

/* HTML Wrapper */
.example > .html {
    padding: 0em;
    transition:
            box-shadow 0.2s ease,
            padding 0.2s ease
;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}
.example > .html > .top.attached.label {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    display: none;
    background-color: #F8F8F8;
    box-shadow: 0px 0px 0px 1px #DDDDDD;
}
.example > .html > .top.attached.label .copy {
    position: absolute;
    top: 9px;
    right: 8px;
    color: #AAAAAA;
}
.example > .html > .top.attached.label .copy:hover {
    color: #666666;
}
.example > .empty.html.segment {
    padding: 1.15em 1em 1em;
}
.example > .html.segment:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.example > .html.segment > .attached.label {
    display: block;
}
.example > .html.segment > .attached.label .copy {
    float: right;
}
.example > .html.segment {
    padding: 3.5em 1em 1em;
}
.example .instructive.segment {
    margin-top: -1px !important;
}

/* Fixes for UI */
.example .segment > .dimmer {
    z-index: 800;
}
.example .circular.segment {
    width: 175px;
    height: 175px;
}

.example .transition.example .ui.button {
    margin-bottom: 0.5em;
}