<div class="example">
    <div class="info">
        <ng-content select="[info]"></ng-content>
        <i class="icon code" (click)="detail = !detail" title="View code"></i>
    </div>
    <div class="html ui top attached segment">
        <ng-content select="[result]"></ng-content>
        <div class="ui top attached label">
            Example
            <i class="edit icon visible" (click)="detail = !detail"></i>
        </div>
    </div>
    <div [suiCollapse]="!detail">
        <div class="annotation transition visible">
            <div class="ui instructive bottom attached segment">
                <!--<codeblock [src]="code"></codeblock>-->
            </div>
        </div>
    </div>
</div>
