<demo-page-title>
    <div header>Test</div>
    <div sub-header>
        <p>Test component!</p>
    </div>
</demo-page-title>
<demo-page-content>
    <h2 class="ui dividing header">Examples</h2>
    <div class="ui segment">
        <sui-progress-circular [value]="progress" class="small"></sui-progress-circular>
        <sui-progress-circular [value]="progress"></sui-progress-circular>
        <sui-progress-circular [value]="progress" class="big"></sui-progress-circular>
        <sui-progress-circular [value]="progress" class="red"></sui-progress-circular>
        <sui-progress-circular [value]="progress" class="orange"></sui-progress-circular>
        <sui-progress-circular [value]="progress" class="yellow"></sui-progress-circular>
        <sui-progress-circular [value]="progress" class="olive"></sui-progress-circular>
        <sui-progress-circular [value]="progress" class="green"></sui-progress-circular>
        <sui-progress-circular [value]="progress" class="teal"></sui-progress-circular>
        <sui-progress-circular [value]="progress" class="blue"></sui-progress-circular>
        <sui-progress-circular [value]="progress" class="violet"></sui-progress-circular>
        <sui-progress-circular [value]="progress" class="purple"></sui-progress-circular>
        <sui-progress-circular [value]="progress" class="pink"></sui-progress-circular>
        <sui-progress-circular [value]="progress" class="brown"></sui-progress-circular>
        <sui-progress-circular [value]="progress" class="grey"></sui-progress-circular>
        <sui-progress-circular [value]="progress" class="black"></sui-progress-circular>
    </div>
</demo-page-content>