<demo-page-title>
    <div header>Datepicker</div>
    <div sub-header>
        <p>A datepicker provides an interface for selecting a date and time</p>
    </div>
</demo-page-title>
<demo-page-content>
    <h2 class="ui dividing header">Examples</h2>

    <demo-example [code]="exampleStandardTemplate">
        <div info>
            <h4 class="ui header">Datepicker</h4>
            <p></p>
        </div>
        <example-datepicker-standard result></example-datepicker-standard>
    </demo-example>

    <h2 id="api" class="ui dividing header">API</h2>
    <demo-api [api]="api"></demo-api>
</demo-page-content>
