<demo-page-title>
    <div header>Popup</div>
    <div sub-header>
        <p>A popup displays additional information on top of a page</p>
    </div>
</demo-page-title>
<demo-page-content>
    <h2 class="ui dividing header">Examples</h2>
    
    <demo-example [code]="exampleStandardTemplate">
        <div info>
            <h4 class="ui header">Popup</h4>
            <p>An element can specify popup content to appear</p>
        </div>
        <popup-example-standard result></popup-example-standard>
    </demo-example>

    <demo-example [code]="exampleTemplateTemplate">
        <div info>
            <h4 class="ui header">Template</h4>
            <p>You can use a <code>template</code> element for a popup</p>
        </div>
        <popup-example-template result></popup-example-template>
    </demo-example>
    
    <demo-example [code]="examplePlacementTemplate">
        <div info>
            <h4 class="ui header">Template</h4>
            <p>You can use a <code>template</code> element for a popup</p>
        </div>
        <div result>
            <popup-example-placement class="ui cards" [position]="position"></popup-example-placement>
            <br>
            <sui-select [(ngModel)]="position" [options]="placements" [isSearchable]="true" #placementSelect>
                <sui-select-option *ngFor="let p of placementSelect.availableOptions" [value]="p"></sui-select-option>
            </sui-select>
        </div>
    </demo-example>

    <h4 class="ui header">Manual Popup Trigger</h4>
    <p>Manually triggering a popup is shown below:</p>
    <div class="ui segment">
        <demo-codeblock language="markup" [src]="manualPopupMarkup"></demo-codeblock>
    </div>
    <div class="ui segment">
        <demo-codeblock language="typescript" [src]="manualPopupCode"></demo-codeblock>
    </div>

    <h2 id="api" class="ui dividing header">API</h2>
    <demo-api [api]="api"></demo-api>
</demo-page-content>
