# Node
node_modules
npm-debug.log

# TypeScript
!make.js
*.ts
*.d.ts
typings
bundles

# JetBrains
.idea
.project
.settings
.vscode

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store
**/.DS_Store

components
demo
