# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

## ngc logs
*.ngfactory.ts
*.ngsummary.json

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/
.vscode

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Non TS files
*.d.ts
*.metadata.json
*.js
*.js.map

# Config Files
!*.config.js

# Output Files
demo/dist