# Node
node_modules
npm-debug.log

# DO NOT IGNORE TYPESCRIPT FILES FOR NPM
# TypeScript
# *.js
# *.map
# *.d.ts
demo
src

# JetBrains
.idea
.project
.settings

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store
**/.DS_Store

# TS Files
*.ts
!*.d.ts