<ng-container *ngIf="mega">
    <iframe allowtransparency="true"
            scrolling="no"
            frameborder="0"
            src="https://buttons.github.io/buttons.html#href=https%3A%2F%2Fgithub.com%2Fedcarroll%2Fng2-semantic-ui&data-text=Star&data-icon=octicon-star&data-size=large&data-show-count=true&aria-label=Star%20edcarroll%2Fng2-semantic-ui%20on%20GitHub"
            width="110"
            height="28"></iframe>
    <iframe allowtransparency="true"
            scrolling="no"
            frameborder="0"
            src="https://buttons.github.io/buttons.html#href=https%3A%2F%2Fgithub.com%2Fedcarroll%2Fng2-semantic-ui%2Ffork&data-text=Fork&data-icon=octicon-repo-forked&data-size=large&data-show-count=true&aria-label=Fork%20edcarroll%2Fng2-semantic-ui%20on%20GitHub"
            width="110"
            height="28"></iframe>
</ng-container>
<ng-container *ngIf="!mega">
    <iframe allowtransparency="true"
            scrolling="no"
            frameborder="0"
            src="https://buttons.github.io/buttons.html#href=https%3A%2F%2Fgithub.com%2Fedcarroll%2Fng2-semantic-ui&data-text=Star&data-icon=octicon-star&data-show-count=true&aria-label=Star%20edcarroll%2Fng2-semantic-ui%20on%20GitHub"
            width="85"
            height="20"></iframe>
    <iframe allowtransparency="true"
            scrolling="no"
            frameborder="0"
            src="https://buttons.github.io/buttons.html#href=https%3A%2F%2Fgithub.com%2Fedcarroll%2Fng2-semantic-ui%2Ffork&data-text=Fork&data-icon=octicon-repo-forked&data-show-count=true&aria-label=Fork%20edcarroll%2Fng2-semantic-ui%20on%20GitHub"
            width="75"
            height="20"></iframe>
</ng-container>