<demo-page-title>
    <div header>Dimmer</div>
    <div sub-header>
        <p>A dimmer hides distractions to focus attention on particular content</p>
    </div>
</demo-page-title>
<div class="ui main container">
    <div class="ui dividing right rail"></div>
    <h2 id="examples" class="ui dividing header">Examples</h2>
    <demo-example [code]="exampleStandardTemplate">
        <div info>
            <h4 class="ui header">Dimmer</h4>
            <p>A simple dimmer displays no content</p>
        </div>
        <dimmer-example-standard result></dimmer-example-standard>
    </demo-example>
    <demo-example [code]="exampleVariationsTemplate">
        <div info>
            <h4 class="ui header">Variations</h4>
            <p>Adding classes to the dimmer enables variations</p>
        </div>
        <dimmer-example-variations result></dimmer-example-variations>
    </demo-example>
    <h2 id="api" class="ui dividing header">API</h2>
    <demo-api [api]="api"></demo-api>
</div>
