<page-title>
    <div header>Accordion</div>
    <div sub-header>
        <p>An accordion allows users to toggle the display of sections of content</p>
    </div>
</page-title>
<div class="ui main container">
    <div class="ui dividing right rail"></div>
    <h2 id="examples" class="ui dividing header">Examples</h2>
    <example code="app/components/accordion/standard.example.html">
        <div info>
            <h4 class="ui header">Accordion</h4>
            <p>Standard accordion</p>
        </div>
        <accordion-example-standard result></accordion-example-standard>
    </example>
    <example code="app/components/accordion/styled.example.html">
        <div info>
            <h4 class="ui header">Styled</h4>
            <p>Adding classes to the root element applies styles</p>
        </div>
        <accordion-example-styled result></accordion-example-styled>
    </example>
    <h2 id="api" class="ui dividing header">API</h2>
    <api [api]="api"></api>
</div>