<page-title>
    <div header>Accordion</div>
    <div sub-header>
        <p>An accordion allows users to toggle the display of sections of content</p>
    </div>
</page-title>
<div class="ui main container">
    <div class="ui dividing right rail"></div>
    <h2 id="examples" class="ui dividing header">Examples</h2>
    <example code="/app/components/accordion/standard.example.html">
        <div info>
            <h4 class="ui header">Accordion</h4>
            <p>Standard accordion</p>
        </div>
        <accordion-example-standard result></accordion-example-standard>
    </example>
    <example code="/app/components/accordion/styled.example.html">
        <div info>
            <h4 class="ui header">Styled</h4>
            <p>Adding classes to the root element applies styles</p>
        </div>
        <accordion-example-styled result></accordion-example-styled>
    </example>
    <h2 id="api" class="ui dividing header">API</h2>
    <h3 class="ui header">&lt;sui-accordion&gt;</h3>
    <div class="ui segments">
        <div class="ui segment">
            <h4 class="ui header">
                <i class="options icon"></i>
                <div class="content">Properties</div>
            </h4>
            <div class="ui list">
                <div class="item">
                    <div class="content">
                        <div class="header">
                            <code>closeOthers</code>&nbsp;
                            <div class="ui teal tiny horizontal label">true</div>
                        </div>
                        <div class="description">Limits the number of open panels to 1 when <code>true</code>.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3 class="ui header">&lt;sui-accordion-panel&gt;</h3>
    <div class="ui segments">
        <div class="ui segment">
            <h4 class="ui header">
                <i class="options icon"></i>
                <div class="content">Properties</div>
            </h4>
            <div class="ui list">
                <div class="item">
                    <div class="content">
                        <div class="header">
                            <code>isOpen</code>&nbsp;
                            <div class="ui teal tiny horizontal label">false</div>
                        </div>
                        <div class="description">Sets whether or not the panel is open.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="header">
                            <code>isDisabled</code>&nbsp;
                            <div class="ui teal tiny horizontal label">false</div>
                        </div>
                        <div class="description">Sets whether or not the panel is disabled (locks current state).</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui segment">
            <h4 class="ui header">
                <i class="lightning icon"></i>
                <div class="content">Events</div>
            </h4>
            <div class="ui list">
                <div class="item">
                    <div class="content">
                        <div class="header"><code>isOpenChange</code></div>
                        <div class="description">Fires whenever the panel is toggled. <code>[(isOpen)]</code> syntax is supported.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>