<div class="ui masthead vertical segment">
    <div class="ui container">
        <h1 class="ui header">
            Dropdown
            <div class="sub header">
                <iframe class="github" src="https://ghbtns.com/github-btn.html?user=edcarroll&repo=ng2-semantic-ui&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
                <p>A dropdown allows a user to select a value from a series of options</p>
            </div>
        </h1>
    </div>
</div>
<div class="ui main container">
    <div class="ui dividing right rail"></div>
    <h2 class="ui dividing header">Examples</h2>

    <example>
        <info>
            <h4 class="ui header">Dropdown</h4>
            <p>A dropdown</p>
        </info>
        <result>
            <div class="ui dropdown">
                <div class="text">File</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item">Choice 1</div>
                    <div class="item">Choice 2</div>
                </div>
            </div>
        </result>
        <code>
            <codeblock markup>
                &lt;div class=&quot;ui fade reveal&quot;&gt;
                    &lt;div class=&quot;visible content&quot;&gt;
                        &lt;img src=&quot;/images/wireframe/square-image.png&quot; class=&quot;ui small image&quot;&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;hidden content&quot;&gt;
                        &lt;img src=&quot;/images/avatar/large/ade.jpg&quot; class=&quot;ui small image&quot;&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            </codeblock>
        </code>
    </example>
</div>