<div class="example">
    <div class="info">
        <ng-content select="[info]"></ng-content>
        <i class="icon code" (click)="detail = !detail" suiPopup popupText="View Source" popupInverted></i>
    </div>
    <div class="html ui top attached segment">
        <ng-content select="[result]"></ng-content>
        <div class="ui top attached label">
            Example
        </div>
    </div>
    <div *ngIf="code">
        <div class="annotation" [suiCollapse]="!detail">
            <div class="ui instructive bottom attached segment">
                <demo-codeblock language="markup" [src]="code"></demo-codeblock>
            </div>
        </div>
    </div>
</div>
