<demo-page-title>
    <div header>Progress</div>
    <div sub-header>
        <p>A progress bar shows the progression of a task</p>
    </div>
</demo-page-title>
<demo-page-content>
    <h2 class="ui dividing header">Examples</h2>
    <demo-example [code]="exampleStandardTemplate">
        <div info>
            <h4 class="ui header">Standard</h4>
            <p>A standard progress bar</p>
        </div>
        <example-progress-standard result></example-progress-standard>
    </demo-example>
    <demo-example [code]="exampleVariationsTemplate">
        <div info>
            <h4 class="ui header">Variations</h4>
            <p>Various styles applicable to the progress bar</p>
        </div>
        <example-progress-variations result></example-progress-variations>
    </demo-example>
    <h2 id="api" class="ui dividing header">API</h2>
    <demo-api [api]="api"></demo-api>
</demo-page-content>
