<demo-page-title>
    <div header>Message</div>
    <div sub-header>
        <p>A message displays information that explains nearby content</p>
    </div>
</demo-page-title>
<div class="ui main container">
    <div class="ui dividing right rail"></div>
    <h2 id="examples" class="ui dividing header">Examples</h2>
    <demo-example [code]="exampleStandardTemplate">
        <div info>
            <h4 class="ui header">Message</h4>
            <p>A basic message</p>
        </div>
        <message-example-standard result></message-example-standard>
    </demo-example>
    <demo-example [code]="exampleNoDismissTemplate">
        <div info>
            <h4 class="ui header">Without dismiss</h4>
            <p>A message does not need to have a dismiss button</p>
        </div>
        <message-example-no-dismiss result></message-example-no-dismiss>
    </demo-example>
    <h2 id="api" class="ui dividing header">API</h2>
    <demo-api [api]="api"></demo-api>
</div>
