<page-title>
    <div header>Collapse</div>
    <div sub-header>
        <p>A collapse allows you to conditionally hide some content with animation</p>
    </div>
</page-title>
<div class="ui main container">
    <div class="ui dividing right rail"></div>
    <h2 id="examples" class="ui dividing header">Examples</h2>
    <example code="app/components/collapse/standard.example.html">
        <div info>
            <h4 class="ui header">Collapse</h4>
            <p></p>
        </div>
        <collapse-example-standard result></collapse-example-standard>
    </example>
    <h2 id="api" class="ui dividing header">API</h2>
    <h3 class="ui header">[suiCollapse]</h3>
    <div class="ui segments">
        <div class="ui segment">
            <h4 class="ui header">
                <i class="options icon"></i>
                <div class="content">Properties</div>
            </h4>
            <div class="ui list">
                <div class="item">
                    <div class="content">
                        <div class="header">
                            <code>suiCollapse</code>
                        </div>
                        <div class="description">Sets whether or not the element is collapsed.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>