<page-title>
    <div header>Search</div>
    <div sub-header>
        <p>A search module allows a user to query for results from a selection of data</p>
    </div>
</page-title>
<div class="ui main container">
    <div class="ui dividing right rail"></div>
    <h2 id="examples" class="ui dividing header">Examples</h2>
    <example code="app/components/search/standard.example.html">
        <div info>
            <h4 class="ui header">Local</h4>
            <p>A search can display a set of local results</p>
        </div>
        <search-example-standard result></search-example-standard>
    </example>
    <example code="app/components/search/remote.example.html">
        <div info>
            <h4 class="ui header">Remote</h4>
            <p>A search can display a set of remote results</p>
        </div>
        <div result>
            <search-example-remote></search-example-remote>
            <br>
            <p>Setting the <code>[options]</code> property to a function that takes a query and returns a Promise allows remote lookups.</p>
        </div>
    </example>
    <h2 id="api" class="ui dividing header">API</h2>
    <api [api]="api"></api>
</div>