<demo-page-title>
    <div header>Checkbox</div>
    <div sub-header>
        <p>A checkbox allows a user to select a value from a small set of options, often binary</p>
    </div>
</demo-page-title>
<demo-page-content>
    <h2 class="ui dividing header">Examples</h2>
    <demo-example [code]="exampleStandardTemplate">
        <div info>
            <h4 class="ui header">Checkbox</h4>
            <p>A standard checkbox</p>
        </div>
        <div result>
            <example-checkbox-standard></example-checkbox-standard>
        </div>
    </demo-example>
    <demo-example [code]="exampleRadioButtonTemplate">
        <div info>
            <h4 class="ui header">Radio button</h4>
            <p>A standard radio button</p>
        </div>
        <div result>
            <example-checkbox-radio-button></example-checkbox-radio-button>
        </div>
    </demo-example>
    <demo-example [code]="exampleStyledTemplate">
        <div info>
            <h4 class="ui header">Styled variations</h4>
            <p>Checkboxes and Radio Buttons can be styled</p>
        </div>
        <div result>
            <example-checkbox-styled></example-checkbox-styled>
        </div>
    </demo-example>
    <h2 id="api" class="ui dividing header">API</h2>
    <demo-api [api]="api"></demo-api>
</demo-page-content>
