<demo-page-title>
    <div header>Collapse</div>
    <div sub-header>
        <p>A collapse allows you to conditionally hide some content with animation</p>
    </div>
</demo-page-title>
<demo-page-content>
    <h2 class="ui dividing header">Examples</h2>
    <demo-example [code]="exampleStandardTemplate">
        <div info>
            <h4 class="ui header">Collapse</h4>
            <p></p>
        </div>
        <collapse-example-standard result></collapse-example-standard>
    </demo-example>
    <h2 id="api" class="ui dividing header">API</h2>
    <demo-api [api]="api"></demo-api>
</demo-page-content>
