<demo-page-title>
    <div header>Checkbox</div>
    <div sub-header>
        <p>A checkbox allows a user to select a value from a small set of options, often binary</p>
    </div>
</demo-page-title>
<div class="ui main container">
    <div class="ui dividing right rail"></div>
    <h2 id="examples" class="ui dividing header">Examples</h2>
    <demo-example [code]="exampleStandardTemplate">
        <div info>
            <h4 class="ui header">Checkbox</h4>
            <p>A standard checkbox</p>
        </div>
        <div result>
            <checkbox-example-standard></checkbox-example-standard>
        </div>
    </demo-example>
    <demo-example [code]="exampleRadioButtonTemplate">
        <div info>
            <h4 class="ui header">Radio button</h4>
            <p>A standard radio button</p>
        </div>
        <div result>
            <checkbox-example-radio-button></checkbox-example-radio-button>
        </div>
    </demo-example>
    <demo-example [code]="exampleStyledTemplate">
        <div info>
            <h4 class="ui header">Styled variations</h4>
            <p>Checkboxes and Radio Buttons can be styled</p>
        </div>
        <div result>
            <checkbox-example-styled></checkbox-example-styled>
        </div>
    </demo-example>
    <h2 id="api" class="ui dividing header">API</h2>
    <demo-api [api]="api"></demo-api>
</div>
