<div class="article">
    <div class="sidebar">
        <div class="ui vertical inverted fluid menu">
            <div class="item">
                <a class="ui mini images" href="/">
                    <img class="ui image" src="http://semantic-ui.com/images/logo.png">
                    <img class="ui image" src="https://angular.io/resources/images/logos/standard/shield-large.png">
                </a>
                <b class="logo">ng2-semantic-ui</b>
            </div>
            <a class="item" [routerLink]="['GettingStarted']">
                <b>Getting Started</b>
            </a>
            <a class="item" href="https://github.com/edcarroll/ng2-semantic-ui">
                <b>Github Repository</b>
            </a>
            <div class="item">
                <div class="active header">Components</div>
                <div class="menu">
                    <a class="item" [routerLink]="['AccordionComponent']">Accordion</a>
                    <a class="item" [routerLink]="['CheckboxComponent']">Checkbox</a>
                    <a class="item" [routerLink]="['CollapseComponent']">Collapse</a>
                    <a class="item" [routerLink]="['DimmerComponent']">Dimmer</a>
                    <a class="item" [routerLink]="['DropdownComponent']">Dropdown</a>
                    <a class="item" [routerLink]="['ProgressComponent']">Progress</a>
                    <a class="item" [routerLink]="['MessageComponent']">Message</a>

                    <a class="item" [routerLink]="['TestComponent']">Test</a>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>