<demo-page-title>
    <div header>Dimmer</div>
    <div sub-header>
        <p>A dimmer hides distractions to focus attention on particular content</p>
    </div>
</demo-page-title>
<demo-page-content>
    <h2 class="ui dividing header">Examples</h2>
    <demo-example [code]="exampleStandardTemplate">
        <div info>
            <h4 class="ui header">Dimmer</h4>
            <p>A simple dimmer displays no content</p>
        </div>
        <example-dimmer-standard result></example-dimmer-standard>
    </demo-example>
    <demo-example [code]="exampleVariationsTemplate">
        <div info>
            <h4 class="ui header">Variations</h4>
            <p>Adding classes to the dimmer enables variations</p>
        </div>
        <example-dimmer-variations result></example-dimmer-variations>
    </demo-example>
    <h2 id="api" class="ui dividing header">API</h2>
    <demo-api [api]="api"></demo-api>
</demo-page-content>
