<demo-page-title>
    <div header>Search</div>
    <div sub-header>
        <p>A search module allows a user to query for results from a selection of data</p>
    </div>
</demo-page-title>
<demo-page-content>
    <h2 class="ui dividing header">Examples</h2>
    <demo-example [code]="exampleStandardTemplate">
        <div info>
            <h4 class="ui header">Local</h4>
            <p>A search can display a set of local results</p>
        </div>
        <div result>
            <example-search-standard></example-search-standard>
        </div>
    </demo-example>
    <demo-example [code]="exampleRemoteTemplate">
        <div info>
            <h4 class="ui header">Remote</h4>
            <p>A search can display a set of remote results</p>
        </div>
        <div result>
            <example-search-remote></example-search-remote>
        </div>
    </demo-example>
    <demo-example [code]="exampleTemplateTemplate">
        <div info>
            <h4 class="ui header">Template</h4>
            <p>A search can display results using a template</p>
        </div>
        <example-search-template result></example-search-template>
    </demo-example>

    <sui-message class="info" [isDismissable]="false">
        <div class="header">Localization</div>
        <p>
            The search component has full localization support. Read the
            <a routerLink="/behaviors/localization">localization docs</a> for guidance.
        </p>
    </sui-message>

    <h2 id="api" class="ui dividing header">API</h2>
    <demo-api [api]="api"></demo-api>
</demo-page-content>
