<demo-page-title>
    <div header>Message</div>
    <div sub-header>
        <p>A message displays information that explains nearby content</p>
    </div>
</demo-page-title>
<demo-page-content>
    <h2 class="ui dividing header">Examples</h2>
    <demo-example [code]="exampleStandardTemplate">
        <div info>
            <h4 class="ui header">Message</h4>
            <p>A basic message</p>
        </div>
        <example-message-standard result></example-message-standard>
    </demo-example>
    <demo-example [code]="exampleNoDismissTemplate">
        <div info>
            <h4 class="ui header">Without dismiss</h4>
            <p>A message does not need to have a dismiss button</p>
        </div>
        <example-message-no-dismiss result></example-message-no-dismiss>
    </demo-example>
    <demo-example [code]="exampleIconTemplate">
        <div info>
            <h4 class="ui header">Icon Message</h4>
            <p>A message with an icon</p>
        </div>
        <example-message-icon result></example-message-icon>
    </demo-example>

    <h4 class="ui header">Manually Dismissing Message</h4>
    <p>Manually dismissing a message is shown below:</p>
    <div class="ui segment">
        <demo-codeblock language="markup" [src]="manualDismissMarkup"></demo-codeblock>
    </div>
    <div class="ui segment">
        <demo-codeblock language="typescript" [src]="manualDismissCode"></demo-codeblock>
    </div>

    <h2 id="api" class="ui dividing header">API</h2>
    <demo-api [api]="api"></demo-api>
</demo-page-content>
