<demo-page-title>
    <div header>Rating</div>
    <div sub-header>
        <p>A rating indicates user interest in content</p>
    </div>
</demo-page-title>
<div class="ui main container">
    <div class="ui dividing right rail"></div>
    <h2 id="examples" class="ui dividing header">Examples</h2>
    <demo-example [code]="exampleStandardTemplate">
        <div info>
            <h4 class="ui header">Rating</h4>
            <p>A basic rating</p>
        </div>
        <rating-example-standard result></rating-example-standard>
    </demo-example>
    <demo-example [code]="exampleStyledTemplate">
        <div info>
            <h4 class="ui header">Styled Rating</h4>
            <p>Star and heart ratings are fully supported</p>
        </div>
        <rating-example-styled result></rating-example-styled>
    </demo-example>
    <h2 id="api" class="ui dividing header">API</h2>
    <demo-api [api]="api"></demo-api>
</div>
