<demo-page-title>
    <div header>Rating</div>
    <div sub-header>
        <p>A rating indicates user interest in content</p>
    </div>
</demo-page-title>
<demo-page-content>
    <h2 class="ui dividing header">Examples</h2>
    <demo-example [code]="exampleStandardTemplate">
        <div info>
            <h4 class="ui header">Rating</h4>
            <p>A basic rating</p>
        </div>
        <example-rating-standard result></example-rating-standard>
    </demo-example>
    <demo-example [code]="exampleStyledTemplate">
        <div info>
            <h4 class="ui header">Styled Rating</h4>
            <p>Star and heart ratings are fully supported</p>
        </div>
        <example-rating-styled result></example-rating-styled>
    </demo-example>
    <h2 id="api" class="ui dividing header">API</h2>
    <demo-api [api]="api"></demo-api>
</demo-page-content>
