<demo-page-title>
    <div header>Select</div>
    <div sub-header>
        <p>A select allows a user to select one or more values from a series of values</p>
    </div>
</demo-page-title>
<demo-page-content>
    <h2 class="ui dividing header">Examples</h2>

    <demo-example [code]="exampleStandardTemplate">
        <div info>
            <h4 class="ui header">Selection</h4>
            <p>A select can be used to select between choices in a form</p>
        </div>
        <div result>
            <p>Full keyboard navigation is supported.</p>
            <example-select-standard></example-select-standard>
        </div>
    </demo-example>

    <sui-message class="info" [isDismissable]="false">
        <div class="header">Important Note</div>
        <p>
            The select component is unusual in the fact that it requires you to manually provide the options within.
            This is so that you can customise the menu, adding headers and dividers etc. as in Semantic UI.
        </p>
        <p>
            However, it means that in order to always display the correct options, you <strong>must</strong> bind your <code>*ngFor</code>
            to the <code>filteredOptions</code> property on the select. This is shown in each of the examples.
        </p>
    </sui-message>
    <br>

    <demo-example [code]="exampleVariationsTemplate">
        <div info>
            <h4 class="ui header">Variations</h4>
            <p>Selects allow a great deal of customization</p>
        </div>
        <example-select-variations result></example-select-variations>
    </demo-example>

    <demo-example [code]="exampleInMenuSearchTemplate">
        <div info>
            <h4 class="ui header">Search In-Menu</h4>
            <p>A select can include a search prompt inside its menu</p>
        </div>
        <div result>
            <example-select-in-menu-search></example-select-in-menu-search>
        </div>
    </demo-example>

    <demo-example [code]="exampleTemplateTemplate">
        <div info>
            <h4 class="ui header">Templates & Formatters</h4>
            <p>You can use a custom template or formatter for displaying each option</p>
        </div>
        <div result>
            <example-select-template></example-select-template>
            <br>
            <p>This is the formatter used in the above example:</p>
            <div class="ui segment">
                <demo-codeblock language="typescript" [src]="formatterCode"></demo-codeblock>
            </div>
        </div>
    </demo-example>

    <demo-example [code]="exampleSearchLookupTemplate">
        <div info>
            <h4 class="ui header">Remote Lookup</h4>
            <p>A select can allow a user to search through a list of choices from an API</p>
        </div>
        <div result>
            <example-select-search-lookup></example-select-search-lookup>
            <br>
            <p>Remote lookups are facilitied by a lookup function of type <code>LookupFn&lt;T, U&gt;</code>.</p>
            <p>
                <code>T</code> is the type of each option, and <code>U</code> is the type of the property specified
                by <code>valueField</code> (default is <code>T</code> if no <code>valueField</code> specified).
            </p>
            <div class="ui segment">
                <demo-codeblock language="typescript" [src]="searchLookupCode"></demo-codeblock>
            </div>
            <p>
                For multi selects, the <code>initial</code> argument is of type <code>U[]</code>,
                and the lookup function always returns a <code>Promise&lt;T&gt;</code>.
            </p>
        </div>
    </demo-example>

    <sui-message class="info" [isDismissable]="false">
        <div class="header">Localization</div>
        <p>
            The select component has full localization support. Read the
            <a routerLink="/behaviors/localization">localization docs</a> for guidance.
        </p>
    </sui-message>

    <h2 id="api" class="ui dividing header">API</h2>
    <demo-api [api]="api"></demo-api>
</demo-page-content>
