<demo-page-title>
    <div header>Progress</div>
    <div sub-header>
        <p>A progress bar shows the progression of a task</p>
    </div>
</demo-page-title>
<div class="ui main container">
    <div class="ui dividing right rail"></div>
    <h2 id="examples" class="ui dividing header">Examples</h2>
    <demo-example code="app/components/progress/standard.example.html">
        <div info>
            <h4 class="ui header">Standard</h4>
            <p>A standard progress bar</p>
        </div>
        <progress-example-standard result></progress-example-standard>
    </demo-example>
    <demo-example code="app/components/progress/variations.example.html">
        <div info>
            <h4 class="ui header">Variations</h4>
            <p>Various styles applicable to the progress bar</p>
        </div>
        <progress-example-variations result></progress-example-variations>
    </demo-example>
    <h2 id="api" class="ui dividing header">API</h2>
    <demo-api [api]="api"></demo-api>
</div>
