<page-title>
    <div header>Collapse</div>
    <div sub-header>
        <p>A collapse allows you to conditionally hide some content with animation</p>
    </div>
</page-title>
<div class="ui main container">
    <div class="ui dividing right rail"></div>
    <h2 id="examples" class="ui dividing header">Examples</h2>
    <example code="app/components/collapse/standard.example.html">
        <div info>
            <h4 class="ui header">Collapse</h4>
            <p></p>
        </div>
        <collapse-example-standard result></collapse-example-standard>
    </example>
    <h2 id="api" class="ui dividing header">API</h2>
    <api [api]="api"></api>
</div>