<page-title>
    <div header>Dropdown</div>
    <div sub-header>
        <p>A dropdown allows a user to select a value from a series of options</p>
    </div>
</page-title>
<div class="ui main container">
    <div class="ui dividing right rail"></div>
    <h2 class="ui dividing header">Examples</h2>
    <example code="app/components/dropdown/standard.example.html">
        <div info>
            <h4 class="ui header">Dropdown</h4>
            <p>A dropdown</p>
        </div>
        <dropdown-example-standard result></dropdown-example-standard>
    </example>
    <example code="app/components/dropdown/styled.example.html">
        <div info>
            <h4 class="ui header">Styled dropdowns</h4>
            <p>Various styles can be applied to the dropdowns</p>
        </div>
        <dropdown-example-styled result></dropdown-example-styled>
    </example>
    <h2 id="api" class="ui dividing header">API</h2>
    <api [api]="api"></api>
</div>