<demo-page-title>
    <div header>Message</div>
    <div sub-header>
        <p>A message displays information that explains nearby content</p>
    </div>
</demo-page-title>
<demo-page-content>
    <h2 class="ui dividing header">Examples</h2>
    <demo-example [code]="exampleStandardTemplate">
        <div info>
            <h4 class="ui header">Transition</h4>
            <p>Transitions can be added to any DOM element</p>
        </div>
        <transition-example-standard result></transition-example-standard>
    </demo-example>
    <demo-example>
        <div info>
            <h4 class="ui header">Advanced</h4>
            <p>To make use of more advanced functionality, directly use the SuiTransition class.</p>
        </div>
        <demo-codeblock result language="typescript" [src]="advancedExampleCode"></demo-codeblock>
    </demo-example>
    <h2 id="api" class="ui dividing header">API</h2>
    <demo-api [api]="api"></demo-api>
</demo-page-content>
