<sui-sidebar-container>
    <sui-sidebar class="vertical inverted" transition="uncover" direction="left" #sidebar>
        <demo-sidebar (onItemSelected)="sidebar.close()"></demo-sidebar>
    </sui-sidebar>
    <sui-sidebar-sibling [isDimmedWhenVisible]="true">
        <div class="full height">
            <div class="toc">
                <div class="ui vertical inverted menu">
                    <demo-sidebar></demo-sidebar>
                </div>
            </div>
            <div class="article">
                <div class="ui top attached inverted menu">
                    <a class="launch icon item" (click)="sidebar.open()">
                        <i class="content icon"></i>
                    </a>
                    <div class="right item">
                        <demo-github-buttons [mega]="false"></demo-github-buttons>
                    </div>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </sui-sidebar-sibling>
</sui-sidebar-container>