<demo-page-title>
    <div header>Tab</div>
    <div sub-header>
        <p>A tab is a hidden section of content activated by a menu</p>
    </div>
</demo-page-title>
<demo-page-content>
    <h2 class="ui dividing header">Examples</h2>
    <demo-example [code]="exampleStandardTemplate">
        <div info>
            <h4 class="ui header">Basic Tabs</h4>
            <p>Tab Headers and Tab Contents are connected using a unique identifer, as shown in the example below.</p>
        </div>
        <example-tab-standard result></example-tab-standard>
    </demo-example>
    <demo-example [code]="examplePropertiesTemplate">
        <div info>
            <h4 class="ui header">Properties & Events</h4>
            <p>Binding to properties & events of the Tab Header allows you to manipulate the tabset.</p>
        </div>
        <example-tab-properties result></example-tab-properties>
    </demo-example>
    <demo-example [code]="exampleDynamicTemplate">
        <div info>
            <h4 class="ui header">Dynamic tabs</h4>
            <p>Generating tabs using <code>*ngFor</code> is fully supported.</p>
        </div>
        <example-tab-dynamic result></example-tab-dynamic>
    </demo-example>
    <demo-example [code]="exampleStyledTemplate">
        <div info>
            <h4 class="ui header">Styled & nested tabs</h4>
            <p>Since the tab headers and contents are separate, tabs can be styled as menus. Tabsets can also be nested as shown.</p>
        </div>
        <example-tab-styled result></example-tab-styled>
    </demo-example>
    <h2 id="api" class="ui dividing header">API</h2>
    <demo-api [api]="api"></demo-api>
</demo-page-content>
