<demo-page-title>
    <div header>Dropdown</div>
    <div sub-header>
        <p>A dropdown provides expandable menus navigable by the user</p>
    </div>
</demo-page-title>
<demo-page-content>
    <h2 class="ui dividing header">Examples</h2>

    <demo-example [code]="exampleFileMenuTemplate">
        <div info>
            <h4 class="ui header">Dropdown</h4>
            <p>A dropdown</p>
        </div>
        <example-dropdown-file-menu result></example-dropdown-file-menu>
    </demo-example>
    <demo-example [code]="exampleStandardTemplate">
        <div info>
            <h4 class="ui header">Controls</h4>
            <p>Various properties can be used to control the dropdowns</p>
        </div>
        <example-dropdown-standard result></example-dropdown-standard>
    </demo-example>
    <demo-example [code]="exampleStyledTemplate">
        <div info>
            <h4 class="ui header">Styled dropdowns</h4>
            <p>Various styles can be applied to the dropdowns</p>
        </div>
        <example-dropdown-styled result></example-dropdown-styled>
    </demo-example>
    <demo-example [code]="exampleMenuTemplate">
        <div info>
            <h4 class="ui header">Versatility</h4>
            <p>Dropdowns can be easily applied to any elements</p>
        </div>
        <example-dropdown-menu result></example-dropdown-menu>
    </demo-example>

    <sui-message class="info" [isDismissable]="false">
        <div class="header">Selection Dropdowns</div>
        <p>
            Looking for selection dropdowns? That functionality is in
            the <a routerLink="/modules/select">select components</a>.
        </p>
    </sui-message>

    <h2 id="api" class="ui dividing header">API</h2>
    <demo-api [api]="api"></demo-api>
</demo-page-content>
