<demo-page-title>
    <div header>Dropdown</div>
    <div sub-header>
        <p>A dropdown allows a user to select an option from a series of options</p>
    </div>
</demo-page-title>
<demo-page-content>
    <h2 class="ui dividing header">Examples</h2>
    <demo-example [code]="exampleStandardTemplate">
        <div info>
            <h4 class="ui header">Dropdown</h4>
            <p>A dropdown</p>
        </div>
        <example-dropdown-standard result></example-dropdown-standard>
    </demo-example>
    <demo-example [code]="exampleStyledTemplate">
        <div info>
            <h4 class="ui header">Styled dropdowns</h4>
            <p>Various styles can be applied to the dropdowns</p>
        </div>
        <example-dropdown-styled result></example-dropdown-styled>
    </demo-example>

    <sui-message class="info" [isDismissable]="false">
        <div class="header">Selection Dropdowns</div>
        <p>
            Looking for selection dropdowns? That functionality is in
            the <a routerLink="/modules/select">select components</a>.
        </p>
    </sui-message>

    <h2 id="api" class="ui dividing header">API</h2>
    <demo-api [api]="api"></demo-api>
</demo-page-content>
