<div class="ui form">
    <div class="grouped fields">
        <label>Checkbox Style Examples</label>
        <div class="field">
            <sui-checkbox class="slider">Slider checkbox</sui-checkbox>
        </div>
        <div class="field">
            <sui-checkbox class="toggle">Toggle checkbox</sui-checkbox>
        </div>
    </div>
</div>
<div class="ui form">
    <div class="grouped fields">
        <label>Radio Button Style Examples</label>
        <div class="field">
            <sui-radio-button class="slider" value="a" [(ngModel)]="eStyledRadio">
                Slider radio button
            </sui-radio-button>
        </div>
        <div class="field">
            <sui-radio-button class="toggle" value="b" [(ngModel)]="eStyledRadio">
                Toggle radio button
            </sui-radio-button>
        </div>
    </div>
</div>